.buttonCreate{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 30px;
    
}
.button {
    background-color: #00b400;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 80%;
    font-weight: 600;
    cursor: pointer;
    
    transition: all 0.20s ease;
}
.button:hover {
    background-color: #028402;
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.1);
}
.button2 {
    background-color: #e01414;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 80%;
    font-weight: 600;
    cursor: pointer;
    
    transition: all 0.20s ease;
}
.button2:hover {
    background-color: #840202;
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.1);
}
.blockButtonProduto{
    background-color: #1c00a6;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all 0.20s ease;
    align-items: center;
}
.blockButtonProduto:hover {
    background-color: #12006b;
    transform: translateY(-1px);
    box-shadow: 0 4px 9px rgba(0,0,0,0.1);
}
.grupButtonProduto{
    color: white;
    font-weight: bold;
    font-size: 13px;
}
.blockButtonCreate{
    background-color: #1c00a6;
    height: 30px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all 0.20s ease;
    align-items: center;
    cursor: pointer;
}